.wrapper{
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
}
.wrapper .container{
    align-items: center;
    justify-content: center;
    margin:  auto;
    display: flex;
}
.wrapper .container .lesser{
    background-color:#E3ECFF;  
    box-sizing: content-box; 
    height: 100vh;
    width: 70%;
    text-align: center;
    margin: auto;
    justify-content: center;
    flex-direction: column;
}
.wrapper .container .lesser .logo{
    align-items: center;
    justify-content: center;
    margin: auto;
    display: block;
}
.wrapper .container .lesser h1{
    color: #0D0D26;
}

.wrapper .container .lesser .ver-parag{
    color: #4B4A4A;
}

.wrapper .container .right{
    background-color:#01C8FF;
    padding: 1rem;
    width: 40%;
    height: 95vh;
}
.wrapper .container .right .right-Right{
    margin-left: -100px;
}
@media screen and (max-width: 768px) {
    .wrapper .container .right{
        display: none;
    }
    .wrapper .container .lesser{
        width: 100%;
        background-color:#E3ECFF;
        height: 100%;
    }
}